In [21]:
import pandas as pd
sjvi = pd.read_csv('SJVI.csv', index_col=0, squeeze=True)
sjvi.index.name = 'year'
sjvi.head()

year
1981    2.319824
1982    6.076605
1983    7.913319
1984    4.326542
1985    2.243236
Name: SJVI, dtype: float64

In [23]:
dates = pd.date_range('{}-10-01'.format(sjvi.index[0]), '{}-09-30'.format(sjvi.index[-1]), freq='D')

In [29]:
df = pd.DataFrame(index=dates)
df['year'] = df.index.year
df = df['year'].map(sjvi.to_dict()).to_frame()
df.index.name = 'Date'
df.columns = ['SJVI']
df.head()

                SJVI
Date
1981-10-01  2.319824
1981-10-02  2.319824
1981-10-03  2.319824
1981-10-04  2.319824
1981-10-05  2.319824

In [30]:
df.to_csv('SJVI_daily.csv')